@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Base Styles */
body {
    font-family: 'Oswald', sans-serif;
    background-color: #0a192f;
}

* {
    box-sizing: border-box;
}

/* Container */
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Typography  */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #e2e2e2;
}

h1 {
    font-size: 20vh;
    line-height: 1;
    margin-top: 6.25rem;
}

h2 {
    line-height: 1;
    font-size: 5rem;
    margin-top: 6.25rem;
}

h3 {
    line-height: 1;
    font-size: 4rem;
    margin-top: 1.5rem;
}

h5 {
    margin-top: 0;
    color: #e2e2e2;
    line-height: 1.5;
}

section {
    margin: 0px auto;
    padding: 50px 0px;
}

/* Clearing */
.container:after {
     content: "";
     display: table;
     clear: both;
}
#navigationWrap {
     display: none;
     width: 100%;
     min-height: 100vh;
     height: 100%;
     background: black;
     opacity: 0;
     position: absolute;
     top: 0;
     padding: 50px 0;
     overflow: hidden;
}
nav ul {
     list-style-type: none;
     padding: 0;
}
nav ul li {
     color: #fafafa;
     font-size: 12vh;
     text-transform: uppercase;
     overflow: hidden;
     font-weight: 700;
}

nav ul li:first-child {
     font-size: 8vh;
     overflow: visible;
}

@media (max-width: 750px) {
     nav ul li {
         font-size: 15vw;
    }
     nav ul li:first-child {
         font-size: 8vw;
    }
}

nav a {
    color: #fafafa;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    text-decoration: none;
}

nav a:hover {
    color:#F24738;
}

.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
}

.close {
    display: none;
    opacity: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
}

.social a {
    color: #484848;
    color: #fafafa;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 0.2rem;
}
.social a:hover {
     color:#F24738;
}
.fas {
     color: #e2e2e2;
     padding-right: 12px;
     font-size: 1.8em !important;
     -o-transition:.3s;
     -ms-transition:.3s;
     -moz-transition:.3s;
     -webkit-transition:.3s;
     transition:.3s;
}
.fa:hover {
    color:#F24738;
}

/* Social media - left */
.orientation-left {
    position: fixed;
    font-size: 1.4rem;
    bottom: 0px;
}

#social-desktop {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    list-style: none;
    left: 20px;
    right: auto;
}

#social-desktop li a {
    color: #8892b0;
}

#social-desktop::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 5px;
    background-color: slategray;
}

/* Email - right */
#email-desktop {
    display: flex;
    flex-direction: column;
    float: right;

}

#email-desktop a {
    margin: 20px auto;
    padding: 10px;
    font-family: monospace;
    line-height: 18px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #8892b0;
}

#email-desktop::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: slategray;
}

.section-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 2rem;
    white-space: nowrap;
}

.section-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: slategray;
}

.inner-text {
    color: #e2e2e2;
    font-family: 'Courier New', Courier, monospace;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
}

/* Media Queries */
/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
   }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
   }
}

/* Display on tablet devices */  
@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

}

/* For iPad Pro 12.9" 
Credit: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#top-of-site
Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)  {


}

/* iPhone 5 only (portrait mode)
resource: https://coderwall.com/p/mwvbea/media-queries-only-for-the-iphone-5-part-i */ 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-device-pixel-ratio: 2) 
  and (min-aspect-ratio: 40/71) and (orientation:portrait) {

}