@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Base Styles */
body {
    font-family: 'Oswald', sans-serif;
    background-color: #2d385f;
}

a {
    text-decoration: none;
    background-color: transparent;
}

/* Container */
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Typography  */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #e2e2e2;
}

h1 {
    font-size: 20vh;
    line-height: 1;
    margin-top: 6.25rem;
}

h2 {
    line-height: 1;
    font-size: 5rem;
    margin-top: 6.25rem;
}

h3 {
    line-height: 1;
    font-size: 4rem;
    margin-top: 1.5rem;
}

h5 {
    margin-top: 0;
    color: #e2e2e2;
    line-height: 1.5;
}

section {
    margin: 0px auto;
    padding: 0;
}

/* Clearing */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* Navigation */
.bar1,
.bar3 {
	width: 36px;
	height: 2px;
	background-color: #969696;
	border-radius: 4px;
	margin: 5px 0;
	transition: 0.4s;
}

.bar2 {
	width: 25px;
	height: 2px;
	background-color: #969696;
	border-radius: 4px;
	margin: 5px 0px 5px 10px;
	transition: 0.55s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
	/* background: #f44336; */
}

.change .bar2 {
	-webkit-transform: translate(30px, 0px);
	transform: translate(30px, 0px);
	/* background: #f44336; */
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-5px, -5px);
	transform: rotate(45deg) translate(-5px, -5px);
	/* background: #ff5722; */
}

.navbar {
	background: transparent; /*rgba(34, 34, 34, 0.75);*/
	position: fixed;
	right: 0;
	top: 0;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	padding: 0px 20px;
	width: 60%;
	z-index: 99999;
}

button.contain.open-menu {
	background: rgba(255, 255, 255, 0.7);
	padding: 10px;
	margin-top: 20px;
}

button {
	background: none !important;
	border: none;
}

button:focus {
	outline: none;
}

.open-menu {
	cursor: pointer;
	transition: transform 0.35s;
	color: #fff;
}

/* Overlay Navigation */
.overlay {
	position: fixed;
	background: rgba(255, 255, 255, 0.9);
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.35s, visibility 0.35s, height 0.35s;
	overflow: auto;
	z-index: 9999;
}

.overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.overlay nav {
	position: relative;
	/* height: 45%; */
	top: 300px;
	transform: translateY(-50%);
	text-align: center;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	left: 1%;
	/* height: 100%; */
}

.overlay ul li {
	display: block;
	position: relative;
	opacity: 0;
	margin-bottom: 35px;
	font-size: 3em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 20px;
}

.overlay ul li a {
	display: block;
	position: relative;
	color: #424242;
	text-decoration: none;
	overflow: hidden;
	transition: all 0.4s;
}

.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
	color: #000;
	transform: scale(1.1);
}

.overlay.open li {
	animation: fadeInRight 0.5s ease forwards;
	animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
	animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
	animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
	animation-delay: 0.5s;
}

/* Animation for menu fade in */

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}


/* Social media - left */
.orientation-left {
    position: fixed;
    font-size: 1.4rem;
    bottom: 0px;
}

#social-desktop {
    position:fixed;
    top:300px;
    left: 0;
    list-style: none;
    font-size: 20px;
}

#social-desktop a {
    color: #8892b0;
}

#social-desktop a:hover, #social-desktop a:focus {
    transform: translateY(-3px);
    color: #42caca;
}

#social-desktop::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 5px;
    background-color: slategray;
}

/* Email - right */
#email-desktop {
    position:fixed;
    right:0;
    top:250px;
    padding-right: 20px;
}

#email-desktop a {
    margin: 25px auto;
    padding: 10px;
    font-family: monospace;
    letter-spacing: 0.1em;
    font-size: 13px;
    writing-mode: vertical-rl;
    color: #8892b0;
}

#email-desktop a:hover, #email-desktop a:focus {
    transform: translateY(-3px);
    color: #42caca;
}

#email-desktop::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: slategray;
}

.section-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 2rem;
    white-space: nowrap;
}

.section-heading::after {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    width: 300px;
    height: 0.075rem;
    margin-left: 1.25rem;
    background-color: slategray;
}

.inner-text {
    color: #e2e2e2;
    font-family: 'Courier New', Courier, monospace;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 20px;
}

/* Experience section */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Timeline */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #6da6b2;
  opacity: .85;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #6da6b2 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #6da6b2;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.position {
    font-size: 1.3rem;
    margin-top: 1.2rem;
    margin-bottom: 0.9rem;
}

.company {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
}

/* Effects */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #fff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES - timeline */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}

/* Extra / clip path styles */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/* Projects section */
.project-screenshots {
    position: relative;
    overflow: hidden;
    display: block;
    width: 95%;
    margin-left: 0.625rem;
}

.projects-row {
  margin: 0;
  padding-top: 50px;
  display: block;
}

.project-screenshots .img-lg {
    width: 70%;
    left: 0;
    z-index: 1;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 75%);
}

.project-screenshots .img-md {
    position: absolute;
    bottom: 0;
    width: 27%;
    right: 14%;
    z-index: 2;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 75%);
}

.project-screenshots .img-sm {
    position: absolute;
    bottom: 0;
    width: 15%;
    right: 1rem;
    z-index: 3;
    box-sizing: 0 5px 5px 0 rgb(0 0 0 / 75%);
}

.description-title-container {
    position: relative;
    width: 90%;
    margin-top: 1.875rem;
    margin-left: 1em;
    align-items: baseline;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
}

.description-title {
    flex: 1;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
    font-size: 1.5rem !important;
}

.description-buttons a {
    margin: 0 5px;
    border: 2px solid #00b7c7;
    color: #00b7c7;
    font-weight: 500;
}

.description-buttons a:hover {
    background: #00b7c7;
    color: #f2f2f2;
    border-color: #00b7c7;
}

.project-description {
    display: block;
    width: 90%;
    margin-top: 0.938rem;
    margin-left: 1rem;
    margin-bottom: 1.563rem;
    font-size: 1.1em;
    color: #fafafa;
    font-family: 'Oswald';
}

.used-skills {
    display: block;
    width: 90%;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    margin-top: 1.875rem;
    margin-bottom: 6.25rem;
}

.used-items {
    margin-left: 1em;
    padding: 0;
    list-style: none;
}

.used-item {
    display: inline-block;
    padding: 7px 7px 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #fafafa;
    background: #333;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .5px;
}

.divider {
    display: block;
    width: 100px;
    height: 2px;
    margin: 30px 0;
    background-color: #00b7c7;
    margin-left: 1.5em;
}

/* Back to top arrow - code with small modification taken from: 
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#arrow_2top {
  position: fixed;
  bottom: 0.1rem;
  right: 1rem;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: transparent;
  color: #707992;
  opacity: 0.5;
  cursor: pointer; /* Add a mouse pointer on hover */
}

#arrow_2top:hover {
  color:#c60a09;
}

/* Media Queries */
/* Display on tablet devices */  

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

    section {
      padding: 50px 70px;
    }

    #contact-section {
      padding: 0 70px;
    }

}

/* For iPad Pro 12.9" 
Credit: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#top-of-site
Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)  {


}

/* iPhone 5 only (portrait mode)
resource: https://coderwall.com/p/mwvbea/media-queries-only-for-the-iphone-5-part-i */ 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-device-pixel-ratio: 2) 
  and (min-aspect-ratio: 40/71) and (orientation:portrait) {

}